<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codingno-webrtc</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        #video-grid {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        #video1 {
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 30%;
            height: 30%;
        }
    </style>
</head>
<body>
    <div id="video-grid"></div>
    <script src="/socket.io/socket.io.js" ></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" ></script>
    <script>
    const user_id = '<%= user_id %>'
    const peer_port = parseInt('<%= peer_port %>')
    </script>
    <script src="../video.js"></script>
    
</body>
</html>